body {
    /* demo code, just so my eyes dont dry whilst testing */
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

/* The styling usees rem which scales by browser font size */


/* movie card */
.movie-card {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;

    /* temporary size and margin of movie banner */
    width: 11.25rem;          
    height: 18rem;
    margin: 1.25rem; 

    /* temporary curved edges value */
    border-radius: 0.7rem;
}

.movie-card img {
    /* ensures it fits  */
    width: 100%;
    height: 100%;              
    object-fit: cover;         
}


/* A little zoom in animation */
.movie-card img {
    transition: transform 0.25s ease;
}
.movie-card:hover img {
    transform: scale(1.03);
}

/* Heart icon, preferbly do not change */
.heart {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 2.5rem;
    height: 2.5rem;
    background: rgba(0,0,0,0.6);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* invisible by deafult */
    opacity: 0;
    transition: opacity 0.3s, transform 0.2s;
    cursor: pointer;
}

/* Makes it appear */
.movie-card:hover .heart { 
    opacity: 1; 
}

.heart svg {
    width: 70%;
    height: 70%;
    display: block;
    color: #fff;
    /* had to adjust position due to white space in svg */
    transform: translateX(4%) translateY(13%);
}

.heart.active svg {
    color: red;
    /* had to adjust position due to white space in svg */
    transform: translateX(3%) translateY(12%) scale(1.1);
}

#watchlist {
    margin: 1.25rem;          
    padding: 0.625rem;        
    border: 0.0625rem solid #444; 
    border-radius: 0.3125rem;  
    background: #222;
}
