body {
  background: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  font-family: Inter;
}
.login-header h1 {
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  margin-bottom: 30px;
  width: 665px;
  height: 100px;
  border: 3px solid #fff;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.3s;
  background-color: transparent;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  color: #bfbfbf;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 35px;
}
input::placeholder {
  color: #bfbfbf;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.submit-btn {
  width: 708px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  color: #2f2f2f;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.submit-btn:hover{
    background-color: #c95360;
}
.signup-link {
  text-align: center;
  margin-top: 25px;
  color: #666;
  font-size: 14px;
}
.signup-link a {
  color: #bfbfbf;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}
.signup-link a:hover {
  color: #fff;
  text-decoration: underline;
  transition: color 0.2s, text-decoration 0.2s;
}
