* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background: #1f1f1f;
}

.home-button{
  position: fixed;
  top: 15px;
  left: 20px;
  font-size: large;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 30px;
  padding: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  max-width: 90vw;
}

.menu::-webkit-scrollbar { display: none; }
.menu { -ms-overflow-style: none; scrollbar-width: none; }

.menu-item {
  flex-shrink: 0;
  width: 280px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.menu-item:hover { transform: translateY(-5px); }

.menu-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
