* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1f1f1f;
  padding: 20px;
}

.home-button{
  position: fixed;
  top: 15px;
  left: 20px;
  font-size: large;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 30px;
  padding: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  max-width: 90vw;
  align-items: center;
}

.menu::-webkit-scrollbar { display: none; }
.menu { -ms-overflow-style: none; scrollbar-width: none; }

.menu-item {
  position: relative;
  flex: 0 0 auto;
  width: 20rem;
  aspect-ratio: 2/3;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
  border-radius: 0.7rem;
}

.menu-item:hover { transform: translateY(-5px); }

.menu-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
